body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

a,
button {
  cursor: pointer;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #ae7c78;
}

p {
  color: #ae7c78;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}

.text-montserrat {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ae7c78;
}

.fz24 {
  font-size: 24px;
}

.fw700 {
  font-weight: 500;
}

.text-white {
  color: white;
}

.display-block {
  display: block;
}

.button {
  display: block;
  background: #d89999;
  border-radius: 40px;
  margin-top: 64px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.button:hover {
  background: #f58f8f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

li:hover {
  opacity: 0, 5;
  color: #f58f8f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

.swiper-container {
  width: 800px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-80 {
  margin-top: 80px;
}

.navbar {
  border-top: 1px solid #ae7c78;
  border-bottom: 1px solid #ae7c78;
  padding: 16px 120px;
  margin-top: 26px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__link {
  color: #ae7c78;
  text-decoration: none;
}

.navbar__logo {
  background-image: url("../images/svg/logo.svg");
  width: 100px;
  height: 32px;
}

.header-promo {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-promo__item {
  width: 385px;
  margin-left: 20px;
}

.header-promo__item_shift {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.header-promo__item:nth-child(1) {
  margin-left: 0px;
}

.header-promo__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #ae7c78;
}

.header-promo__title span {
  font-size: 44px;
  font-style: italic;
}

.header-promo__subtitle {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #ae7c78;
}

.header-promo__button {
  padding: 30px 65px;
}

.header__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  display: inline-block;
}

.header__about-text {
  width: 285px;
  display: inline-block;
}

.header-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 80px;
}

.header-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 285px;
}

.header-about__text {
  margin-left: 20px;
}

.header-about__text:nth-child(1) {
  margin-left: 0px;
}

.header-about__text span {
  font-size: 16px;
  line-height: 20px;
  color: #ae7c78;
  display: block;
  margin-top: 8px;
}

.header-about__text span:nth-child(1) {
  margin-top: 0px;
  font-weight: 600;
}

.main-flowers {
  margin-top: 80px;
}

.main-flowers__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-flowers__item {
  position: relative;
  width: 387px;
  cursor: pointer;
}

.main-flowers__item::after {
  content: "";
  background: rgba(174, 124, 120, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-flowers__item:hover::after {
  content: "";
  background: rgba(174, 124, 120, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}

.main-flowers__description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  z-index: 1;
}

.main-order {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ae7c78;
}

.main-order__notice {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.main-order img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.main-order__notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-order h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: 0.02em;
}

.main-order__wrapper {
  width: 390px;
}

.main-work {
  margin-top: 80px;
}

.main-work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 285px;
  text-align: center;
}

.main-address {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-address__map {
  width: 100%;
  height: 644px;
  margin-top: 80px;
  pointer-events: none;
}

.main-address__wait {
  background-color: #f7fafc;
  -webkit-box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
          box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
  width: 390px;
  position: absolute;
  top: 130px;
  left: 220px;
  z-index: 1;
  padding-bottom: 65px;
}

.main-address h2 {
  text-align: left;
}

.main-address__wrapper {
  margin-left: 35px;
  width: 243px;
}

.main-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-news__item-text {
  width: 400px;
}

.main-news__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-news__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-news h2 {
  text-align: left;
}

.report {
  border: 1px solid #ae7c78;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.report__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 0 44px;
}

.report__wrapper {
  width: 300px;
  margin-bottom: 65px;
}

.footer {
  background-color: #ae7c78;
}

.footer__wrapper {
  padding: 30px 0 50px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  text-decoration: none;
  color: white;
}
