body {
   background-color: #e5e5e5;
   font-family: "Montserrat", sans-serif;
}

.font-playfair {
   font-family: "Playfair Display", serif;
}

a,
button {
   cursor: pointer;
}

.font-montserrat {
   font-family: "Montserrat", sans-serif;
}

.container {
   max-width: 1200px;
   margin: 0px auto;
}

h2 {
   font-family: "Playfair Display", serif;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 48px;
   text-align: center;
   color: #ae7c78;
}
p {
   color: #ae7c78;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   margin-top: 20px;
}

.text-montserrat {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   color: #ae7c78;
}

.fz24 {
   font-size: 24px;
}
.fw700 {
   font-weight: 500;
}

.text-white {
   color: white;
}

.display-block {
   display: block;
}

.button {
   display: block;
   background: #d89999;
   border-radius: 40px;
   margin-top: 64px;
   border: none;
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   color: #ffffff;
}

.button:hover {
   background: #f58f8f;
   transition: 0.3s;
}

li:hover {
   opacity: 0, 5;
   color: #f58f8f;
   transition: 0.3s;
}

.socials {
   display: flex;
   justify-content: space-between;
   width: 100px;
}

.swiper-container {
   width: 800px;
}

.ml {
   &-20 {
      margin-left: 20px;
   }
}
.mb {
   &-65 {
      margin-bottom: 65px;
   }
}
.mt {
   &-8 {
      margin-top: 8px;
   }
   &-10 {
      margin-top: 10px;
   }
   &-12 {
      margin-top: 12px;
   }
   &-15 {
      margin-top: 15px;
   }
   &-20 {
      margin-top: 20px;
   }
   &-25 {
      margin-top: 25px;
   }
   &-30 {
      margin-top: 30px;
   }
   &-35 {
      margin-top: 35px;
   }
   &-40 {
      margin-top: 40px;
   }
   &-80 {
      margin-top: 80px;
   }
}

.navbar {
   border-top: 1px solid #ae7c78;
   border-bottom: 1px solid #ae7c78;
   padding: 16px 120px;
   margin-top: 26px;

   &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__link {
      color: #ae7c78;
      text-decoration: none;
   }

   &__logo {
      background-image: url("../images/svg/logo.svg");
      width: 100px;
      height: 32px;
   }
}

.header-promo {
   margin-top: 80px;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;

   &__item {
      width: 385px;
      margin-left: 20px;
      &_shift {
         transform: translateY(40px);
      }
      &:nth-child(1) {
         margin-left: 0px;
      }
   }

   &__title {
      font-family: "Playfair Display", serif;
      font-weight: 400;
      line-height: 59px;
      letter-spacing: 0em;
      text-align: left;
      color: #ae7c78;

      span {
         font-size: 44px;
         font-style: italic;
      }
   }

   &__subtitle {
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: left;
      color: #ae7c78;
   }

   &__button {
      padding: 30px 65px;
   }
}

.header {
   &__about {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__img {
      display: inline-block;
   }

   &__about-text {
      width: 285px;
      display: inline-block;
   }
}

.header-about {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin-top: 80px;

   &__item {
      display: flex;
      align-items: flex-start;
      width: 285px;
   }

   &__text {
      margin-left: 20px;
      &:nth-child(1) {
         margin-left: 0px;
      }
      span {
         font-size: 16px;
         line-height: 20px;
         color: #ae7c78;
         display: block;
         margin-top: 8px;

         &:nth-child(1) {
            margin-top: 0px;
            font-weight: 600;
         }
      }
   }
}

.main-flowers {
   margin-top: 80px;
   &__cards {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      position: relative;
      width: 387px;
      cursor: pointer;
      &::after {
         content: "";
         background: rgba(174, 124, 120, 0.6);
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         border-radius: 10px;
         transition: 0.5s;
      }
      &:hover::after {
         content: "";
         background: rgba(174, 124, 120, 0.5);
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         border-radius: 10px;
      }
   }
   &__description {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      z-index: 1;
   }
}

.main-order {
   margin-top: 80px;
   display: flex;
   background: #ae7c78;
   &__notice {
      flex: 0 0 auto;
      width: 50%;
   }
   img {
      flex: 0 0 auto;
      width: 50%;
   }
   &__notice {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   h1 {
      font-family: "Playfair Display", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 44px;
      line-height: 59px;
      letter-spacing: 0.02em;
   }
   &__wrapper {
      width: 390px;
   }
}

.main-work {
   margin-top: 80px;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 285px;
      text-align: center;
   }
}

.main-address {
   position: relative;
   display: flex;

   &__map {
      width: 100%;
      height: 644px;
      margin-top: 80px;
      pointer-events: none;
   }

   &__wait {
      background-color: #f7fafc;
      box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
      border-radius: 12px;
      width: 390px;
      position: absolute;
      top: 130px;
      left: 220px;
      z-index: 1;
      padding-bottom: 65px;
   }
   h2 {
      text-align: left;
   }

   &__wrapper {
      margin-left: 35px;
      width: 243px;
   }
}
.main-news {
   display: flex;
   justify-content: space-between;

   &__item-text {
      width: 400px;
   }
   &__images {
      display: flex;
      justify-content: space-between;
   }

   &__image {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
   }
   h2 {
      text-align: left;
   }
}

.report {
   border: 1px solid #ae7c78;
   box-sizing: border-box;
   width: 100%;
   &__people {
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 0 44px;
   }

   &__wrapper {
      width: 300px;
      margin-bottom: 65px;
   }
}

.footer {
   background-color: #ae7c78;
   &__wrapper {
      padding: 30px 0 50px;
   }

   &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   a {
      text-decoration: none;
      color: white;
   }
}
